<body class="bg-dark text-light">
    <div id="loading-spinner"
        class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-dark bg-opacity-50 d-none"
        style="z-index: 1050;">
        <div class="spinner-border text-light" role="status" style="width: 4rem; height: 4rem;">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <header>
        {{> datarange}} <!-- Incluyendo el partial de rango de fechas -->
    </header>

    <main>
        <div class="container">
            <h2>Métricas</h2>
            {{> cards-metrics metrics=metrics}} <!-- Incluyendo el partial de tarjetas -->

            <!-- Botón para exportar el dashboard a PDF -->
            <div class="text-end mt-4">
                <button id="generatePDF" class="btn btn-primary"
                    data-url="/dashboard/generate-pdf{{#if startDate}}?startDate={{startDate}}&endDate={{endDate}}{{/if}}">
                    Exportar a PDF
                </button>
            </div>
        </div>
        <!-- Mensaje de error oculto -->
        <div class="d-flex justify-content-center">
            <div id="pdfError" class="alert alert-danger d-none mt-3 w-25 show " role="alert">
                Error al generar el PDF. Inténtelo de nuevo.

            </div>
        </div>
    </main>
    <footer>

        {{> footer}}
    </footer>
    <script>
        document.getElementById("generatePDF").addEventListener("click", async function () {
            dofcument.getElementById("loading-spinner").classList.remove("d-none");
            const pdfUrl = button.getAttribute("data-url");
            const errorAlert = document.getElementById("pdfError");
            try {
                // Hace la petición al servidor
                const response = await fetch(pdfUrl);

                if (!response.ok) {
                    throw new Error("Error al generar el PDF");
                }
                // Convierte la respuesta en un Blob (archivo PDF)
                const blob = await response.blob();
                const pdfURL = window.URL.createObjectURL(blob);
                // Crea un enlace para descargar el PDF
                const a = document.createElement("a");
                a.href = pdfURL;
                a.download = "informe.pdf";
                document.body.appendChild(a);
                a.click();
                a.remove();

            } catch (error) {
                errorAlert.classList.remove("d-none");
                console.error(error);
            } finally {
                document.getElementById("loading-spinner").classList.add("d-none")
            }
        });
    </script>




    <script src="/js/daterange.js"></script>





</body>