<body class="bg-dark text-light">
    <header>
        {{> datarange}} <!-- Incluyendo el partial de rango de fechas -->
    </header>

    <main>
        <div class="container">
            <h2>Métricas</h2>
            {{> cards-metrics metrics=metrics}} <!-- Incluyendo el partial de tarjetas -->

            <!-- Botón para exportar el dashboard a PDF -->
            <div class="text-end mt-4">
                <a href="/dashboard/generate-pdf{{#if startDate}}?startDate={{startDate}}&endDate={{endDate}}{{/if}}"
                    class="btn btn-primary">
                    Exportar a PDF
                </a>
            </div>
        </div>
    </main>

    <footer>

        {{> footer}}
    </footer>





    <script src="/js/daterange.js"></script>





</body>