<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Iniciar sesión</a>

<!-- Modal de inicio de sesión -->
<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesión</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" id="emailInput" class="form-control" placeholder="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" id="passwordInput" class="form-control" placeholder="****" required>
                    </div>
                    <button type="button" class="btn btn-primary" id="loginButton">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>
