<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - OFIU</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

 {{#if errorMessage}}
  <div class="alert-container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{errorMessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
{{/if}}

  <!-- Header -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename">OFIU</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <!-- Main Section -->
  <main class="main">
    <section id="hero" class="hero section dark-background">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out">
            <img src="/img/phone_1.png" alt="Phone 1" class="phone-1">
            <img src="/img/phone_2.png" alt="Phone 2" class="phone-2">
          </div>
          <div class="col-lg-8 d-flex flex-column justify-content-center align-items text-center text-md-start" data-aos="fade-up">
            <h2>¡Conéctate con servicios locales de manera fácil y eficiente!</h2>
            <p>Nuestro aplicativo móvil une a trabajadores autónomos y consumidores en una plataforma intuitiva. ¡Descubre una nueva forma de solicitar y disfrutar de servicios!</p>
            <div class="d-flex mt-4 justify-content-center justify-content-md-start">
              <a href="#" class="download-btn"><i class="bi bi-google-play"></i> <span>Google Play</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">OFIU</h3>
      <p>Estamos para ayudarte.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>&copy; 2024</span> <strong class="px-1 sitename">OFIU</strong> <span>All Rights Reserved</span>
       <span class="mx-2">|</span>
        <a href="/docs/politica-privacidad" target="_blank">Política de Privacidad</a>
        <span class="mx-2">|</span>
        <a href="/docs/terminos-condiciones" target="_blank">Términos y Condiciones</a>
       
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Login Modal -->
  <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesión</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" id="emailInput" class="form-control" placeholder="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="passwordInput" class="form-control" placeholder="****" required>
            </div>
            <button type="button" class="btn btn-primary" id="loginButton">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll to Error Alert -->
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const alertContainer = document.querySelector('.alert-container');
    if (alertContainer) {
      window.scrollTo({ top: alertContainer.offsetTop, behavior: 'smooth' });
    }
  });
</script>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>
