<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - OFIU</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
</head>


<body class="index-page ">

    <!-- Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <h1 class="sitename">OFIU</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/" class="active">Inicio</a></li>
                    <li><a href="/TerminosyCondicionesdeUso" class="">Terminos y Condiciones</a></li>
                    <li><a href="/PoliticadePrivacidad" class="">Politica de Privacidad</a></li>
                    <li><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Iniciar
                            sesion</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>

    </header>

    <main class=" main dark-background ">

        <section class="  px-5">
            <h1>Política de Privacidad</h1>
        </section>
        
        <section class="  px-5">
            <p class="text-white mb-4 text-center mb-0">
                En OFIU, nos comprometemos a proteger tu privacidad y a garantizar el manejo
                seguro de tus datos personales. Esta Política de Privacidad describe cómo
                recopilamos, utilizamos, almacenamos y compartimos tu información cuando
                utilizas nuestra aplicación. Al acceder y utilizar nuestra aplicación, aceptas las
                prácticas descritas en esta Política de Privacidad. Si no estás de acuerdo con alguno
                de los aspectos aquí presentados, te recomendamos que no utilices nuestra
                aplicación. </p>
        </section>
        <section class="  px-5 ">
            <h2>Información que Recopilamos</h2>
            <p>
                Información Personal: Al registrarte en OFIU, recopilamos información personal
                que nos proporcionas, como tu nombre, dirección de correo electrónico, número de
                teléfono y foto de la cédula de identidad. Esta información es necesaria para crear
                y gestionar tu cuenta cuando ofreces los servicios mediante la aplicación.
            </p>
            <p>
                Información de Uso: Recopilamos información sobre tu uso de la aplicación,
                incluyendo tus interacciones, servicios solicitados, preferencias y actividades dentro
                de la plataforma. Esta información nos ayuda a mejorar la experiencia del usuario y
                personalizar nuestros servicios.
            </p>
            <p>
                Información de Dispositivo: Podemos recopilar información técnica sobre tu
                dispositivo, como tu dirección IP, tipo de dispositivo, sistema operativo y versión,
                identificadores únicos del dispositivo, información de la red móvil y otros datos
                similares.
            </p>
        </section>


        <section class="  px-5 ">
            <h2>Uso de la Información</h2>
            <p>
                Utilización de Datos: Utilizamos la información recopilada para operar,
                mantener y mejorar nuestra aplicación y servicios. Esto incluye proporcionarte
                acceso a la plataforma, ofrecerte servicios personalizados, responder a tus
                consultas y brindarte asistencia técnica.
            </p>
            <p>
                Comunicaciones: Podemos utilizar tu información de contacto para enviarte
                comunicaciones relacionadas con el uso de la aplicación, como notificaciones de
                servicio, actualizaciones y mensajes administrativos. También podemos enviarte
                comunicaciones promocionales y de marketing, previa autorización por tu parte.

            </p>
            <p>
                Compartir Información: Podemos compartir tu información personal con
                terceros de confianza que nos ayudan a proporcionar y mejorar nuestros servicios,
                como proveedores de servicios de pago y servicios de verificación de identidad. Sin
                embargo, nunca venderemos ni compartiremos tu información personal con terceros
                con fines comerciales sin tu consentimiento expreso.
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Seguridad de la Información</h2>
            <p>
                Medidas de Seguridad: Implementamos medidas de seguridad técnicas,
                administrativas y físicas para proteger tu información contra accesos no autorizados,
                pérdida, mal uso o alteración. Sin embargo, debes tener en cuenta que ninguna
                transmisión de datos a través de internet o sistema de almacenamiento electrónico
                puede garantizar una seguridad absoluta.
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Retención de Datos</h2>
            <p>
                Conservación de Datos: Mantendremos tus datos personales durante el tiempo
                necesario para cumplir con los fines establecidos en esta Política de Privacidad, a
                menos que se requiera o permita una retención más prolongada por ley
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Derechos del Usuario</h2>
            <p>
                Acceso y Actualización: Tienes derecho a acceder, corregir y actualizar la
                información personal que nos has proporcionado. Puedes hacerlo a través de las
                opciones disponibles en la aplicación o contactando a nuestro equipo de soporte.
            </p>
            <p>
                . Retiro del Consentimiento: Puedes retirar tu consentimiento para el uso de tu
                información personal en cualquier momento. Sin embargo, debes tener en cuenta
                que la retirada del consentimiento puede limitar o impedir tu capacidad para utilizar
                ciertas funciones de la aplicación.
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Compartir Información con Terceros</h2>
            <p>
                Proveedores de Servicios: Podemos compartir tu información personal con
                terceros proveedores de servicios que nos asisten en la prestación de servicios,
                como procesamiento de pagos, verificación de identidad, análisis de datos,
                alojamiento de la aplicación y servicios de soporte técnico. Estos proveedores de
                servicios están obligados contractualmente a mantener la confidencialidad y
                seguridad de tu información personal, y solo pueden utilizarla de acuerdo con
                nuestras instrucciones.
            </p>
            <p>
                Cumplimiento Legal: Podemos compartir tu información personal en respuesta
                a una solicitud legítima de las autoridades competentes o cuando creamos de buena
                fe que la divulgación es necesaria para cumplir con la ley, proteger nuestros
                derechos, prevenir fraudes o responder a una situación de emergencia.
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Menores de Edad</h2>
            <p>
                Restricción de Uso: La aplicación OFIU está destinada solo a personas mayores
                de edad. No recopilamos intencionalmente información personal de menores. Si
                tienes conocimiento de que un menor nos ha proporcionado información personal
                sin el consentimiento de sus padres o tutores, te pedimos que nos lo notifiques para
                que podamos eliminar dicha información de nuestros registros.
            </p>
        </section>

        <section class="  px-5 ">
            <h2>Enlaces Externos</h2>
            <p>
                Enlaces a Terceros: Nuestra aplicación puede contener enlaces a sitios web o
                servicios de terceros. Esta Política de Privacidad no se aplica a dichos sitios web o
                servicios, por lo que te recomendamos revisar las políticas de privacidad
                correspondientes antes de proporcionarles tu información personal.
            </p>
        </section>


        <section class="  px-5 ">
            <h2>Cambios en la Política de Privacidad</h2>
            <p>
                Modificaciones: Nos reservamos el derecho de actualizar o modificar esta
                Política de Privacidad en cualquier momento. Te recomendamos revisar
                periódicamente esta sección para estar al tanto de cualquier cambio. El uso
                continuado de la aplicación después de la publicación de las modificaciones
                constituirá tu aceptación de los términos actualizados.
            </p>
            <p>
                Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, o si
                deseas ejercer tus derechos de acceso, corrección, actualización o eliminación de
                tu información personal, no dudes en contactarnos. Estamos comprometidos con la
                protección de tu privacidad y haremos todo lo posible para abordar cualquier
                preocupación que puedas tener.
            </p>
        </section>

    </main>

    <!-- Footer -->
    <footer id="footer" class="footer dark-background">
        <div class="container text-light">
            <h3 class="sitename">OFIU</h3>
            <p>Estamos para ayudarte.</p>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-skype"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="container">
                <div class="copyright">
                    <span>&copy; 2024</span> <strong class="px-1 sitename">OFIU</strong> <span>All Rights
                        Reserved</span>
                    <span class="mx-2">|</span>
                    <a href="/PoliticadePrivacidad" target="_blank">Política de Privacidad</a>
                    <span class="mx-2">|</span>
                    <a href="/TerminosyCondicionesdeUso" target="_blank">Términos y Condiciones</a>
                    <span class="mx-2">|</span>
                    <a href="/" target="_blank">Inicio</a>

                </div>
            </div>
        </div>
    </footer>

</body>