<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - OFIU</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
</head>


<body class="index-page ">
    
     <!-- Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center">
                <h1 class="sitename">OFIU</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/" class="active">Inicio</a></li>
                    <li><a href="/TerminosyCondicionesdeUso" class="">Terminos y Condiciones</a></li>
                    <li><a href="/PoliticadePrivacidad" class="">Politica de Privacidad</a></li>
                    <li><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Iniciar
                            sesion</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>

    </header>
        

      <main class=" main dark-background ">
            <section class="  px-5">
            <h1>Términos y Condiciones de Uso </h1>
        </section>
       <section class="  px-5">
            <p class="text-white mb-4 text-center mb-0">
                Bienvenido(a) a OFIU, antes de utilizar nuestra aplicación, te solicitamos que leas
                detenidamente los siguientes términos y condiciones, ya que establecen los
                derechos y compromisos tanto de OFIU como de los usuarios de nuestra
                plataforma. Al acceder y utilizar nuestra aplicación, aceptas estos términos y
                condiciones en su totalidad. Si no estás de acuerdo con alguno de los términos aquí
                presentados, te recomendamos que no utilices nuestra aplicación. </p>
        </section>
        <section class="  px-5 ">
            <h2 >Uso de la Aplicación</h2>
            <ul>
                <li>Autorización: Al registrarte en OFIU, te comprometes a proporcionar
                    información precisa, veraz y actualizada. Además, garantizas que eres mayor de
                    edad y que tienes capacidad legal para aceptar estos términos y condiciones. </li>
                <li>No debes intentar dañar o alterar el funcionamiento del servicio.</li>
                
            </ul>
        </section>

        <section class="  px-5 ">
            <h2>Responsabilidad de OFIU</h2>
            <p> Intermediación: OFIU actúa como intermediario para facilitar la conexión entre
                profesionales y clientes, pero no se responsabiliza de la calidad, idoneidad o
                veracidad de los servicios ofrecidos por los profesionales. OFIU no será responsable
                por cualquier disputa, daño o pérdida derivada de los servicios realizados a través
                de la aplicación.</p>
            <p>Veracidad de la Información: OFIU se esforzará por verificar la información
                proporcionada por los usuarios de la plataforma, pero no puede garantizar la
                exactitud o veracidad de dicha información. Los usuarios asumen la responsabilidad
                de verificar la información antes de realizar cualquier contratación de servicios.</p>
            <p> Privacidad y Protección de Datos: OFIU se compromete a proteger la privacidad
                y seguridad de los datos personales proporcionados por los usuarios de la
                aplicación. Para obtener más información sobre cómo se manejan y protegen tus
                datos personales, te invitamos a consultar nuestra Política de Privacidad. </p>
        </section>

        <section class="  px-5 ">
            <h2 >Responsabilidad del Usuario</h2>
            <p>Veracidad de la Información: Como usuario de OFIU, te comprometes a
                proporcionar información precisa, actualizada y veraz. Eres responsable de
                mantener tu perfil actualizado y de asegurarte de que la información que
                proporciones sea precisa y completa.</p>
            <p> Cumplimiento Legal: Te comprometes a cumplir con todas las leyes,
                regulaciones y normativas aplicables al utilizar nuestra aplicación. No podrás utilizar
                la aplicación para actividades ilícitas, fraudulentas o que infrinjan los derechos de
                terceros. </p>
        </section>

        <section class="  px-5">
            <h2 >Propiedad Intelectual </h2>
            <p>Derechos de OFIU: Todos los derechos de propiedad intelectual relacionados
                con la aplicación y su contenido (incluyendo, pero no limitado a, textos, gráficos,
                logotipos, imágenes, videos, diseños, software y bases de datos) son propiedad
                exclusiva de OFIU. No se concede ningún derecho de propiedad intelectual a los
                usuarios, excepto aquellos expresamente establecidos en estos términos y
                condiciones. </p>
        </section>

        <section class="  px-5">
            <h2 >Modificaciones y Terminación </h2>
            <p> Modificaciones: OFIU se reserva el derecho de modificar estos términos y
                condiciones en cualquier momento. Te recomendamos revisar periódicamente esta
                sección para estar al tanto de cualquier cambio. El uso continuado de la aplicación
                después de la publicación de las modificaciones constituirá tu aceptación de los
                términos actualizados. </p>
            <p> Terminación: OFIU se reserva el derecho de suspender o terminar tu acceso a
                la aplicación en caso de incumplimiento de estos términos y condiciones, o si se
                detecta un uso indebido de la misma. </p>
        </section>
        <section class="  px-5">
            <h2 > Ley Aplicable y Jurisdicción </h2>
            <p> Ley Aplicable: Estos términos y condiciones se regirán e interpretarán de
                acuerdo con las leyes de la República de Colombia.</p>
            <p> Jurisdicción: Cualquier disputa que surja en relación con estos términos y
                condiciones estará sujeta a la jurisdicción exclusiva de los tribunales competentes
                de la República de Colombia. </p>
        </section>
       <section class="  px-5">
            <h2 >Limitación de Responsabilidad </h2>
            <p> Exclusión de Responsabilidad: En la medida permitida por la ley aplicable, OFIU
                no será responsable de ningún daño directo, indirecto, incidental, especial,
                consecuente o punitivo, incluyendo, pero no limitado a, pérdida de beneficios,
                ingresos, datos o uso, derivados de tu uso de la aplicación o de la imposibilidad de
                utilizarla, incluso si se te ha informado de la posibilidad de dichos daños. </p>
            <p> Exoneración de Responsabilidad: OFIU no garantiza ni se responsabiliza por la
                disponibilidad, calidad, idoneidad, seguridad o confiabilidad de los servicios
                ofrecidos por los profesionales a través de la aplicación. Cualquier relación
                contractual realizada entre los usuarios de la aplicación es responsabilidad
                exclusiva de dichos usuarios.</p>
        </section>
   <section class="  px-5">
            <h2 >Indemnización </h2>
            <p> Indemnización: Aceptas indemnizar y eximir de responsabilidad a OFIU y a sus
                directivos, empleados y agentes, de cualquier reclamo, demanda, pérdida,
                responsabilidad, daño o costo, incluyendo honorarios razonables de abogados,
                derivados de tu uso de la aplicación, tu violación de estos términos y condiciones, o
                tu violación de los derechos de terceros. </p>
        </section>
       <section class="  px-5">
            <h2 > Disposiciones Generales</h2>
            <p> Divisibilidad: Si alguna disposición de estos términos y condiciones se
                considera inválida o no aplicable, dicha disposición se interpretará en la medida
                máxima permitida por la ley aplicable para reflejar las intenciones originales de las
                partes, y las demás disposiciones permanecerán en pleno vigor y efecto.</p>
            <p> Cesión: No podrás ceder, transferir ni sublicenciar tus derechos y obligaciones
                establecidos en estos términos y condiciones sin el consentimiento previo por
                escrito de OFIU. OFIU podrá ceder, transferir o sublicenciar estos términos y
                condiciones, total o parcialmente, sin tu consentimiento. </p>
            <p>Acuerdo Completo: Estos términos y condiciones constituyen el acuerdo
                completo entre OFIU y los usuarios de la aplicación, y reemplazan cualquier acuerdo
                previo o contemporáneo, oral o escrito, relacionado con el objeto aquí descrito. </p>
            <p> Además de los términos y condiciones previamente mencionados, al utilizar la
                aplicación de OFIU, también aceptas cumplir con lo establecido en la Ley 1581 de
                2012 de la República de Colombia, que regula la protección de datos personales. A
                continuación, se incluyen disposiciones adicionales relacionadas con la privacidad
                y protección de datos:</p>
        </section>
   <section class="  px-5">
            <h2 >Privacidad y Protección de Datos </h2>
            <p> Recopilación de Datos Personales: Al utilizar la aplicación de OFIU, estás de
                acuerdo en que OFIU recopile y procese tus datos personales de acuerdo con su
                Política de Privacidad. Estos datos pueden incluir, entre otros, tu nombre, dirección,
                número de teléfono, dirección de correo electrónico y cualquier otra información
                necesaria para brindar los servicios de la aplicación. </p>
            <p> Uso de Datos Personales: OFIU utilizará tus datos personales para facilitar la
                intermediación entre profesionales y clientes, así como para mejorar la calidad de
                los servicios ofrecidos. También se pueden utilizar para fines de marketing y
                comunicación, siempre y cuando hayas otorgado tu consentimiento previo. </p>
            <p> Compartir Datos Personales: OFIU puede compartir tus datos personales con
                terceros en la medida necesaria para cumplir con los fines establecidos en estos
                términos y condiciones y en su Política de Privacidad. Estos terceros pueden incluir
                proveedores de servicios, socios comerciales y autoridades legales, entre otros. </p>
            <p>Derechos de Acceso y Rectificación: Tienes derecho a acceder, rectificar y
                actualizar tus datos personales proporcionados a OFIU. Puedes ejercer estos
                derechos contactando a OFIU a través de los canales de comunicación indicados
                en la Política de Privacidad. </p>
            <p> Seguridad de Datos: OFIU se compromete a tomar todas las medidas
                razonables para proteger tus datos personales contra accesos no autorizados,
                pérdidas, uso indebido o divulgación. Sin embargo, ten en cuenta que ninguna
                medida de seguridad es absoluta y que OFIU no puede garantizar la seguridad total
                de tus datos. </p>
            <p> Conservación de Datos: OFIU conservará tus datos personales durante el
                tiempo necesario para cumplir con los fines establecidos en estos términos y
                condiciones y en su Política de Privacidad, a menos que la ley exija o permita lo
                contrario.</p>
            <p> En caso de cualquier conflicto o inconsistencia entre los términos y condiciones
                generales de uso y las disposiciones relacionadas con la Ley 1581 de 2012,
                prevalecerán las disposiciones de esta última en la medida en que sean aplicables. </p>
            <p> Recuerda que al utilizar la aplicación de OFIU, aceptas tanto los términos y
                condiciones generales de uso como las disposiciones adicionales relacionadas con
                la protección de datos personales establecidas en la Ley 1581 de 2012. </p>
            <p> Si tienes alguna pregunta o inquietud sobre estos términos y condiciones, no dudes
                en contactarnos. Estamos comprometidos con brindarte un servicio seguro y
                confiable, y haremos todo lo posible para abordar cualquier preocupación que
                puedas tener.</p>

        </section>



    </main>

    <!-- Footer -->
    <footer id="footer" class="footer dark-background">
        <div class="container text-light">
            <h3 class="sitename">OFIU</h3>
            <p>Estamos para ayudarte.</p>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-skype"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="container">
                <div class="copyright">
                    <span>&copy; 2024</span> <strong class="px-1 sitename">OFIU</strong> <span>All Rights
                        Reserved</span>
                    <span class="mx-2">|</span>
                    <a href="/PoliticadePrivacidad" target="_blank">Política de Privacidad</a>
                    <span class="mx-2">|</span>
                    <a href="/TerminosyCondicionesdeUso" target="_blank">Términos y Condiciones</a>
                    <span class="mx-2">|</span>
                    <a href="/" target="_blank">Inicio</a>

                </div>
            </div>
        </div>
</footer>
</body>


</html>