<footer class="footer footer-big footer-transparent" >
    <div class="container">
        <p style="color:white;">  © 2024 OFIU. Todos los derechos reservados.</p>
        <ul class="pull-left">
            <li>
                <a href="/"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bookmark"></i> Términos y condiciones</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-phone"></i> Contacto</a>
            </li>
        </ul>
    </div>
</footer>
