  <footer id="footer" class="footer dark-background  text-white " style="background-color: #142E6C;">
    <div class="container">
      <h3 class="sitename">OFIU</h3>
      <p>Estamos para ayudarte.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>&copy; 2024</span> <strong class="px-1 sitename">OFIU</strong> <span>All Rights Reserved</span>
          <span class="mx-2">|</span>
          <a class="text-white text-decoration-none" href="/PoliticadePrivacidad" target="_blank">Política de Privacidad</a>
          <span class="mx-2">|</span>
          <a class="text-white text-decoration-none" href="/TerminosyCondicionesdeUso" target="_blank">Términos y Condiciones</a>

        </div>
      </div>
    </div>
  </footer>