<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #142E6C;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-1" href="/">OFIU</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/" class=" nav-link {{#if isHome}}active{{/if}}">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="/TerminosyCondicionesdeUso" class="nav-link {{#if isTerminos}}active{{/if}}">Terminos y
            Condiciones</a>
        </li>
        <li class="nav-item">
          <a href="/PoliticadePrivacidad" class="nav-link {{#if isPolitica}}active{{/if}}">Politica de Privacidad</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Solicitudes
          </a>
          <ul class="dropdown-menu " style="background-color: #142E6C;">
            <li><a class="dropdown-item text-white" href="/reports">Reportes</a></li>

            <li><a class="dropdown-item text-white" href="/support">Soporte</a></li>

            <li>
              <a class="dropdown-item text-white" href="/unsubscribe">Eliminación</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginmodal">Iniciar sesion</a>
        </li>
      </ul>
    </div>
  </div>
     
</nav>